@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-brown3;
        overflow: hidden;
    }

    .h-d-screen {
        height: 100dvh
    }

    .h-s-screen {
        height: 100svh
    }

    .h-l-screen {
        height: 100lvh
    }

}


@layer components {

    .collage-editor {
        display: grid;
        grid-gap: 25px;
        grid-template-areas: 'menu editor property-windows';
        grid-template-columns: 390px auto 200px;
        grid-template-rows: 1fr;
        justify-content: start;
        /* padding: 30px 20px; */
    }

    .canvas-wrapper {
        @apply border-brown30/40 border-[12px] border-solid rounded-2xl;
    }

    .label {
        @apply shadow-md text-2xl min-w-[32px] hover:text-brown50 text-brown30 text-center hover:scale-125 cursor-pointer transform -translate-y-[6px] border-b-[1px] border-brown10
    }

    .label:nth-child(even) {
        @apply transform rotate-3;
    }

    .label:nth-child(odd) {
        @apply transform -rotate-3;
    }

    .button {
        @apply w-fit py-1 px-5 font-medium rounded-lg bg-brown30/30 text-2xl hover:bg-brown30/40 text-brown70 text-center hover:scale-110 cursor-pointer
    }

    .up-and-down>div {
        @apply cursor-grab transform transition-all duration-300 ease-in-out will-change-transform
    }

}